server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/spring-petclinic/spring-petclinic-microservices-config
          default-label: main
        native:
          search-locations: file:///${GIT_REPO}

spring:
  profiles:
    active: native
